body {
    background-color: #A7C957;
    color: #FFFAED;
}

h1 {
    text-align: center;
    background-color: #BC4749;
    padding-top: 12px;
    padding-bottom: 12px;
}

h2 {
   margin-left: 10px; 
   margin-right: 10px;
   text-decoration: underline;
}

h3 {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: underline;
}

