body {
    background-color: #A7C957;
    color: #FFFAED;
}

h1 {
    text-align: center;
    background-color: #BC4749;
    padding-top: 12px;
    padding-bottom: 12px;
}

h2 {
   margin-left: 10px; 
   margin-right: 10px;
   text-decoration: underline;
}

h3 {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: underline;
}

.navbar {
    background-color: #BC4749;
    overflow: auto;
    padding-left: 70px;
}
.dropdown {
    display: inline-block;
}
.dropdown button {
    background-color: #BC4749;
    color: #FFFAED;
    padding: 10px 69px;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}
.dropdown a{
    display: block;
    color: #FFFAED;
    padding: 10px 15px;
    border: 1px solid #BC4749;
}
.dropdown .content {
    display: none;
    position: absolute;
    background-color: #BC4749;
    min-width: 30px;
    box-shadow: 2px 2px 5px #FFFAED;
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button {
    background-color: #FFFAED;
    color: #BC4749;
}
.dropdown a:hover {
    background-color: #FFFAED;
    color: #BC4749;
}

.footer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    background-color: #BC4749;
    color: #FFFAED;
    width: 100%;
    text-align: left;
}
.contacts {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 35px;
}
.credits {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-right: 15px;
}
.credits a {
    color: #FFFAED;
}

.overview {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    margin-top: 50px
}
.overview-info{
    background-color: #BC4749;
    text-align: center;
    font-size: 17px;
    margin-right: 15px;
    padding: 0px 35px;
    height: 95%;
}
#overview-image1 {
    width: 100%;
    height: 46%;
}
#overview-image2 {
    width: 100%;
    height: 46%;
}
